<link rel="stylesheet" href="/styles/allPR.css">
<div id="container">
    <div id="select">
        <a href="/">
            <div id="all-emp">All Employees</div>
        </a>
        <div id="all-pr">All Performance Reviews</div>
        <a href="/assign">
            <div id="assign-pr">Assign Performance Review</div>
        </a>
    </div>
    <div id="selected-content">
        <h1 id="heading">All Performance Review</h1>
        <div id="all-pr-container">
            <% for(let review of reviews) { %>
                <div class="rev">
                    <p><span>Review Of: </span><span><%= review.reviewOf.name %></span></p>
                    <% if(review.isReviewed){ %>
                        <p>Friendly : <%= review.friendly %>/10</p>
                        <p>Cooperative : <%= review.cooperative %>/10</p>
                        <p>Responsible : <%= review.responsible %>/10</p>
                        <p><span>Reviewed By: </span><span><%= review.reviewBy.name %></span></p>
                    <% }else{ %>
                        <h4>Not reviewed, <%= review.reviewBy.name %> needs to review this</h4>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</div>